.blog-post-card2-blog-post-card {
  width: 585px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card2-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card2-container {
  width: 897px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.blog-post-card2-text {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card2-root-class-name3 {
  width: 900px;
  max-width: none;
  margin-top: 100px;
  margin-right: 490px;
}
.blog-post-card2-root-class-name {
  width: 900px;
  margin-top: 50px;
  margin-right: 490px;
}
.blog-post-card2-root-class-name1 {
  width: 900px;
  margin-top: 50px;
  margin-right: 490px;
}
@media(max-width: 1600px) {
  .blog-post-card2-blog-post-card {
    width: 715px;
  }
  .blog-post-card2-container {
    width: 740px;
    margin-right: 0px;
  }
  .blog-post-card2-root-class-name3 {
    align-self: center;
    margin-top: 100px;
    margin-right: 490px;
  }
  .blog-post-card2-root-class-name {
    align-self: center;
    margin-top: 50px;
    margin-right: 490px;
  }
  .blog-post-card2-root-class-name1 {
    align-self: center;
    margin-top: 50px;
    margin-right: 490px;
  }
}
@media(max-width: 991px) {
  .blog-post-card2-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .blog-post-card2-blog-post-card {
    flex-direction: column;
  }
}
