<div>
  <link href="./blog-post-card2.css" rel="stylesheet" />
  <div class="blog-post-card2-blog-post-card">
    <div class="blog-post-card2-container">
      <span class="blog-post-card2-text">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          volutpat turpis. Mauris luctus rutrum mi ut rhoncus. Integer in
          dignissim tortor. Lorem ipsum dolor sit amet, consectetur adipiscing
          ...
        </span>
      </span>
    </div>
  </div>
</div>
